.hide{
	display:none !important;
}

#bubblecontainer{
	width:5px;
	height:5px;
	position:absolute;
}

.mocha{
  display: block;
  left: -11px;
  position: relative;
  top: -48px;
  width: 300px;	
}

/**** Speech Bubble Icons *****/
.mocha .bubble {
  position: relative;
}

.mocha .bubble .bubbletext {

	border:2px solid #4C9116;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
	padding: 10px;
	background: -moz-linear-gradient(90deg, #E2E0DA, #FFFFFF) repeat scroll 0 0 #77BE40;
	

	font-size:15px;
	font-weight:300;
	font-style: normal;
	color: #000;
	
	position: relative;
}
.mocha .bubble .down .point {
	width: 0;
	height: 0;
	position: absolute;
	top: 29px;
	left: 12px;
	display: block;
	border-left: 20px solid #4C9116; 
	border-bottom: 20px solid #FFF; /* IE fix */
	border-bottom: 20px solid rgba(0,0,0,0); 
	overflow: hidden; /* IE fix */
}
.mocha .bubble .up .point {
	width: 0;
	height: 0;
	position: absolute;
	top: -33px;
	left: 12px;
	display: block;
	border-left: 20px solid #005d1a; 
	border-top: 20px solid #FFF; /* IE fix */
	border-top: 20px solid rgba(0,0,0,0); 
	overflow: hidden; /* IE fix */
}
.mocha .bubble .point2 {
	visibility:hidden;
	z-index:99;
	width: 0;
	height: 0;
	position: absolute;
	top: 24px;
	left: 14px;
	display: block;
	border-left: 13px solid #FFF; 
	border-bottom: 14px solid #FFF; /* IE fix */
	border-bottom: 14px solid rgba(0,0,0,0); 
	overflow: hidden; /* IE fix */
}
.mocha .bubble .closer{
	background:url('close_button.png');
	display:block;
	position:absolute;
	width:42px;
	height:42px;
	z-index:99;
	cursor:pointer;
}

.mocha .bubble .down .closer{
	top:-33px;
	right:-20px;
}
.mocha .bubble .up .closer{
	top:6px;
	right:-20px;
}

