.hide{
	display:none;
}

/**** Speech Bubble Icons *****/
.earthygreen .bubble {
  position: relative;
}
.earthygreen .bubble .bubbletext {
	font-size:13px;
	font-style: normal;
	background: #8fa987;
	color: #FFF;
	padding: 10px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	border:4px solid #005d1a;
	position: relative;
}
.earthygreen .bubble .down .point {
	width: 0;
	height: 0;
	position: absolute;
	top: 24px;
	left: 12px;
	display: block;
	border-left: 20px solid #005d1a; 
	border-bottom: 20px solid #FFF; /* IE fix */
	border-bottom: 20px solid rgba(0,0,0,0); 
	overflow: hidden; /* IE fix */
}
.earthygreen .bubble .up .point {
	width: 0;
	height: 0;
	position: absolute;
	top: -33px;
	left: 12px;
	display: block;
	border-left: 20px solid #005d1a; 
	border-top: 20px solid #FFF; /* IE fix */
	border-top: 20px solid rgba(0,0,0,0); 
	overflow: hidden; /* IE fix */
}
.earthygreen .bubble .point2 {
	visibility:hidden;
	z-index:99;
	width: 0;
	height: 0;
	position: absolute;
	top: 24px;
	left: 14px;
	display: block;
	border-left: 13px solid #FFF; 
	border-bottom: 14px solid #FFF; /* IE fix */
	border-bottom: 14px solid rgba(0,0,0,0); 
	overflow: hidden; /* IE fix */
}
.earthygreen .bubble .closer{
	background:url('close_button.png');
	display:block;
	position:absolute;
	width:42px;
	height:42px;
	z-index:99;
	cursor:pointer;
}

.earthygreen .bubble .down .closer{
	top:-33px;
	right:-20px;
}
.earthygreen .bubble .up .closer{
	top:6px;
	right:-20px;
}

